[2015-10-21 19:10] HeEAaD opened #1 "Forced slack_url parameter"
### Issue description
scan 0.1.0 asks for `slack_url` when slack should be skipped (`--skip_slack`):
[code]

### Expected behavior:
scan turns off slack notifications for `--skip_slack` and does not ask for  `slack_url`.

### System info
[code]

# Thanks for scan!

[2015-10-22 07:25] tspecht commented on #1
+1

[2015-10-22 07:26] tspecht opened #2 "Device selection not working"
When I want to run the tests with scan on a specific device, I get the following output:

[code]

[2015-10-22 09:20] fawkeswei opened #3 "Could not find action or lane 'scan'"
run `fastlane run_test`

FastFile
[code]

stack trace
[code]

[2015-10-22 13:26] zwaldowski opened #5 "Travis iOS build truncated to "Loading…""
* Scan version: 0.1.0
* Xcode version: 7.1 (CLT installed — both remote and local)
* Scan parameters: `--clean --skip_html_open --slack_only_on_failure --slack_url <#REDACTED#>`

## Report description:

I have a UI-less iOS and Mac framework CI'ed on Travis that I'm setting Scan up with.

The relevant section of `.travis.yml`:

[code]

Builds on Travis run and pass as expected. However, the log vi

[2015-10-22 13:27] squarefrog commented on #1
:+1:

[2015-10-22 13:30] squarefrog opened #6 "Couldn't parse the number of tests from the output"
I get the following after running `scan`.

[code]

[2015-10-22 15:00] vittoriom commented on #1
+1

[2015-10-22 15:01] vittoriom commented on #2
+1 for some documentation in `--help` on which strings we can pass to `--device` (y)

[2015-10-22 15:15] vittoriom opened #7 "Cannot run tests with scan (error 65)"
Scanfile:
[code]

Output:
[code]
FWIW:
I saw a red line in the console a few seconds before I got this stack trace (that weirdly enough is not there anymore) about "waiting 120 seconds for the simulator to boot"

FWIW/2:
Running tests with CMD+U from Xcode works fine

Possibly related:
[Bitrise issue](https://github.com/bitrise-io/bitrise.io/issues/5)

P.s.
Thanks for scan, I was really waiting fo

[2015-10-22 17:39] squarefrog commented on #1
Found the likely cause of this error and submitted a Pull Request :tada:

[2015-10-22 19:57] squarefrog commented on #3
I realise this is possibly a silly question, but have you you installed `scan`?

   $ gem install scan

You may need `sudo` if you use system ruby.

[2015-10-22 20:30] squarefrog commented on #6
Oh I see where the error occurs.

[code]

My tests pass so `result[:failures]` is `nil` :smirk: I'll have a look at a pull request for you tomorrow.

[2015-10-22 20:50] #1 closed

[2015-10-22 20:50] KrauseFx commented on #2
Thanks, I'll fix this :+1:

[2015-10-22 20:51] KrauseFx commented on #3
@fawkeswei Sorry - this is my fault, the deployment of the fastlane update didn't work, so I'll push a new version now!

[2015-10-22 20:52] KrauseFx commented on #3
Please update fastlane using `sudo gem update fastlane` :+1:

[2015-10-22 21:25] jshier opened #9 "Slack Required?"
This doesn't seem necessary. We don't use Slack at all, so I have nothing to enter here.

[2015-10-22 21:31] squarefrog commented on #9
This is fixed in #8

Once it is deployed then if you don't supply a slack URL you won't get an error.

[2015-10-22 22:41] KrauseFx commented on #2
This is fixed with the latest release, sorry everyone

[2015-10-22 22:41] #2 closed

[2015-10-22 22:43] KrauseFx commented on #2
https://github.com/fastlane/scan/releases/tag/0.1.1

[2015-10-22 22:43] KrauseFx commented on #9
Fixed with https://github.com/fastlane/scan/releases/tag/0.1.1, thanks everyone :+1:

[2015-10-22 22:43] #9 closed

[2015-10-22 22:47] #3 closed

[2015-10-22 22:48] KrauseFx commented on #5
Thanks for filing this issue like a radar. Marked as duplicate, closed :satellite:

[2015-10-22 22:48] KrauseFx commented on #5
In all seriousness, thanks for this, I'll take a closer look at this issue :+1:

[2015-10-23 03:48] jshier commented on #7
I have seen error 65s as well. Strangely though, usually they show up after the final touch step but sometimes they show up after all of the tests have run. It's bizarre.

`Executed 158 tests, with 1 failure (0 unexpected) in 1.997 (2.072) seconds
[23:44:50]: Exit status: 65`

That run also produced crash `00a01d1fb4cfd810e9e0128ebd5ba6de` and my `after_all` block didn't run.

[2015-10-23 03:49] fawkeswei commented on #3
Works like a charm, thanks!

[2015-10-23 04:05] jshier opened #10 "Turn logging off, silent mode?"
I'd like the option to turn logging off entirely, as well as most of the command line output. I don't need to see what files are building or the other information most of the time, just the warnings or errors.

[2015-10-23 04:08] jshier opened #11 "skip_html_open should default to true"
As a tool primarily intended to be used on CI systems, skip_html_open defaulting to false makes no sense. It should default to true.

[2015-10-23 08:09] tspecht commented on #2
So which value do I need to pass in? The ID or the device name?

[2015-10-23 09:04] squarefrog commented on #6
I've tried to replicate this across 3 machines. Only 1 exhibits the behaviour.

`Ruby 2.0.0p481` (default Ruby in Yosemite) :heavy_check_mark:
`Ruby 2.2.1p85` (default Ruby in El Cap) :heavy_check_mark:
`Ruby 2.2.3p173` (i have no idea where I installed this from `/usr/local/bin/ruby`) :heavy_multiplication_x:
`Ruby 2.2.3p173` (installed with `rbenv`) :heavy_check_mark:

Closing this as I think it

[2015-10-23 15:37] bmalkowski commented on #6
In case someone else runs across this, I ran into this same error message trying to get scan to run. I was able to fix it by upgrading to Ruby 2.2.1p85 from Ruby 2.0.0. I then reinstalled scan and fastlane.

It may be a red herring, but my initial install of the tools did run into issues that I worked around based on KrauseFx/fastlane#338. My reinstall worked flawlessly without this workaround.

[2015-10-23 16:02] squarefrog commented on #6
Interesting that you got it on Ruby 2.0.0 was this system ruby or rbenv/chruby/rvm?

[2015-10-23 16:17] bmalkowski commented on #6
I'd say probably system Ruby that came installed with Yosemite. I used rvm to get Ruby 2.2.1. And that's about the extent of my ruby knowledge. ;)

[2015-10-23 16:30] petester42 opened #12 "Device can't be set"
I am trying to set the device for scan to use but it always gets sets to `iPhone 5s`. The command I run is `scan --device "iPhone 6s"` which gives no error but it doesn't set the simulator to the correct thing. I know that my device name is correct since if I give it a name that doesn't exists the error `Couldn't find simulator 'iPhone 6ss' - falling back to default simulator` does happen.

[2015-10-23 18:44] KrauseFx commented on #12
Thanks for reporting this, I'm taking a look at it now :+1:

[2015-10-23 18:47] #12 closed

[2015-10-23 18:47] KrauseFx commented on #11
Good point, thanks for the feedback!

[2015-10-23 18:50] #11 closed

[2015-10-23 18:50] KrauseFx commented on #10
Is there a way to only print warnings when in `xcpretty`? How would you approach this?

[2015-10-23 18:54] xfreebird commented on #10
May be something like this `xcodebuild .. | xcpretty ..  2>&1 /path/to/file`, no logging at all :)

[2015-10-23 19:02] jshier commented on #10
Sorry, I'm not familiar with the capabilities of `xcpretty`. This was more of a general feature request. Ideally, I'd like to just see the major steps in the build process (e.g. "Building APP", "Testing APP") along with errors or warnings, with no requirement to have a log file. If I need additional output to diagnose an issue I should just be able to run again with the verbosity turned up.

[2015-10-23 19:08] KrauseFx commented on #2
Sorry, there was another bug, please update and use

[code]

it's working now :+1:

[2015-10-23 19:12] KrauseFx commented on #6
Interesting... @squarefrog did you find the source of this issue?

[2015-10-23 19:15] KrauseFx commented on #3
Sorry again for having this issue in the first place

[2015-10-23 19:18] squarefrog commented on #6
I thought I had, but it turned out it was just an odd install.

I'm scratching my head about this. It's only that install that I had difficulty with. I use a shared `GEM_HOME` so it's not even like there was something wrong with the gem.

Diffing the broken run log against a working one doesn't appear to show anything untoward.

I don't know if you can shed any more light on the flow after the bui

[2015-10-23 21:29] DigitalRogues commented on #6
I'm running into this problem also but only via running fastlane, running scan directly seems to work fine.  I have ruby version ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin15] via homebrew

Looks like I'm seeing the error running scan directly via jenkins also on a different server with the same version of ruby.

[2015-10-24 07:43] KristopherGBaker opened #13 "xcpretty-travis-formatter: command not found for Jenkins build"
scan works fine for me on the command line, but when I try to run it as part of a Jenkins build, it fails with the message, "xcpretty-travis-formatter: command not found".  I installed the xcpretty-travis-formatter gem on the Jenkins server and the error still occurs.

Here's more of the log:

[code]

[2015-10-26 14:09] nvh opened #14 "Add branch name to slack notification"
It would be nice if the notification in slack (optionally) shows the branch name that the tests were run with.

[2015-10-26 17:00] KrauseFx commented on #14
Not as easy as it sounds, as this requires the developer to use git then.

[2015-10-26 19:38] mattdelves opened #15 "Specify derived data path"
In my use case, I'm wanting to run scan from within fastlane and have the derived data that gets generated used by other fastlane actions. Is this something currently supported? Is it possible to specify the derived data location?

Thanks.

[2015-10-26 19:46] Legoless opened #16 "Support enableCodeCoverage parameter"
In our tests we are generating code coverage, but apparently xcodebuild ignores the setting in schema. Scan should look in the schema and add parameter `enableCodeCoverage` to build, if required. Otherwise at least another parameter should be added to scan to enable code coverage manually.

http://viteinfinite.com/2015/07/leveraging-swift-code-coverage-with-xcode-7/

[2015-10-26 20:50] nmccann opened #17 "Specified destination not in list of valid destinations"
Hi,

I recently attempted to migrate my Fastfile from using Xcodebuild to using Scan, but encountered the following error on our CI server: `Unable to find a destination matching the provided destination specifier`.

Our server has a large number of devices, and I was able to find that the ID Scan was looking for belonged to a device with an older version of iOS - one that wasn't supported by my a

[2015-10-26 21:47] KrauseFx commented on #17
@nmccann Interesting. Can you share the output when running `instruments -s` on your machine so I can investigate. Also, please share the complete output in particular when you get the error message.

[2015-10-26 22:33] KrauseFx commented on #16
Sounds good, I'd love to support code coverage in `scan` :+1:

[2015-10-26 22:34] KrauseFx commented on #15
Are you referring to the new `clear_derived_data` action or the `scan` itself?

[2015-10-27 01:37] marcelofabri opened #18 "Specify simulator iOS version"
`FastlaneCore::Simulator.all` already informs `ios_version`, so it should be easy to add this.

[2015-10-27 01:48] nmccann commented on #18
Could be useful for my issue: #17

[2015-10-27 01:55] nmccann commented on #17
Thanks, the relevant information is below. Let me know if any additional information is needed.

[code]

[code]

[2015-10-27 01:58] marcelofabri commented on #18
Here's a snippet that I'm using to get the newest iOS simulator:

[code]

[2015-10-27 05:35] cuteiosdev commented on #15
There's a 'clear_derived_data' option? Not that that's what I'm after.

I want to grab the perfdata which is generated by the test run and then parse it using slather. I used to do this by specifying the derived data path but that doesn't seem to be an option unless I'm missing something.

[2015-10-27 07:29] xfreebird commented on #15
@mattdelves btw thanks for your PR on `slather` :+1:

You might want to do that by setting `scan`  `xcargs` with  `-derivedDataPath build`.
Also to make sure that you get the coverage data in the new `xcodebuild`, add `-enableCodeCoverage YES`

For `fastlane`:

[code]

Command line:

[code]

[code]

[2015-10-27 10:28] koszcz commented on #6
I have the same issue on ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-darwin14] installed via RVM

[2015-10-27 10:45] iainsmith commented on #14
What about only displaying the branch name if git is installed and the tests are being run in the repo?

[2015-10-28 07:33] vittoriom commented on #7
Any clue on this?

[2015-10-28 09:26] adamcohenrose commented on #7
I see error 65 when tests fail, but not when they pass... Would it be possible to have an option that allows error 65 to indicate a failed build, but to let the lane continue?

My specific case is that I would like to run tests in Jenkins across multiple simulators and then gather JUnit reports. When the scan task fails, the report gathering never happens and so I don't see test results in Jenkins

[2015-10-28 19:05] augustj commented on #7
Some information regarding that 120 second timeout issue - I know it's not necessarily the main culprit here, but I want to share what I've learned (painfully).
From what I understand, calling `xcodebuild ..... test` starts by launching the simulator, followed by compiling/building the app.  If the build process takes longer than 120 seconds, you will see that error about waiting for the simulator

[2015-10-28 19:13] jshier commented on #7
@augustj Thanks for the explanation, that makes so much sense. Given that you can build for testing separately from actually running the tests, it may be possible to do what you want. I don't think the test action requires a clean, as you can pass it separately. Or are you saying it always cleans every time, even when the clean flag isn't passed?

[2015-10-28 19:50] augustj commented on #7
As I dig through the cobwebs in my head - and look at the fastlane source code, I think the issue wasn't the `clean` was always being added, it was that `build` was always added.  I just wanted to call `test` without `build`.

[code]

[2015-10-28 20:16] augustj commented on #7
After some more experimentation, even calling `xcodebuild .... test` triggers build steps (including running the scripts for Cocoapods).  xctool is an entirely different beast that doesn't use xcodebuild to run the tests.  While calling `xcodebuild build` followed by `xcodebuild test` helps avoid the simulator timeouts, it's not quite as good as running the tests with xctool.  I'll try a two step

[2015-10-28 20:18] vittoriom commented on #7
@augustj please also have a look at https://github.com/facebook/xctool/issues/248 regarding the behavior of xctool

[2015-10-28 21:59] jshier commented on #7
@augustj I was able to get a two phase build to work just fine, or am I missing something?

[code]

Running those commands results in the `test` command using the stored product from the `build` command just fine.

[2015-10-28 22:31] augustj commented on #7
@jshier - I should clarify a little - I was able to get a two step process to build and test, but the build step basically didn't seem to do much and the test step was stuck with compiling (again) - BUT I just realized what I did wrong.  In my scheme, I specific different configurations for Run/Test.  Once I specified the same configuration for both build and test, it was fine.  Works like a charm

[2015-10-29 00:14] jshier commented on #7
@augustj We you able to do that using fastlane's `xcbuild` and `xctest`? I don't see a way to tell `xctest` not to build. Or did you just put a custom shell command in there to do the two phase build?

[2015-10-29 02:46] augustj commented on #7
@jshier

I ended up with a 3 step process
1) xcodebuild w/ clean:true
2) xcodebuild w/ build:true
3) scan

I gave up on xctest - seeing an update to scan renewed my interest in abandoning xctool.

Here is what I have in my fastlane script at the moment (subject to cleanup, of course):

[code]

[2015-10-29 10:54] Legoless commented on #17
I'm also specifying "iPhone 6" on CI and what I get is:
ERROR [2015-10-29 10:05:52.97]: Couldn't find simulator 'true' - falling back to default simulator

[2015-10-29 12:57] aCorrado opened #23 "Slack Notification channel"
Right now scan reports the test results in the channel linked to the webhook. Is there any chance that you can add a parameter so we can post it to a particular channel (basically the same setting as the slack action in fastlane)?

Thanks

[2015-10-29 13:21] aCorrado commented on #23
added a quick fix in
https://github.com/fastlane/scan/pull/24

[2015-10-29 13:38] nmccann commented on #17
@Legoless I don't think that is the same issue, in my case more than one simulator exists and a simulator with an invalid version is selected. For example, my app only supports iOS 9+ but a simulator with iOS 8.4 is being selected.

[2015-10-29 17:46] lam2558 commented on #6
I fixed this by updating ruby and ruby gem:
rbenv install 2.2.2
rbenv global 2.2.2
gem update --system

[2015-10-29 17:46] lam2558 commented on #7
I fixed this by updating ruby and ruby gem:
rbenv install 2.2.2
rbenv global 2.2.2
gem update --system

[2015-10-29 18:00] KrauseFx commented on #23
Thanks :+1:

[2015-10-29 18:00] #23 closed

[2015-10-29 18:25] jshier commented on #7
@augustj Hmm, running `xcodebuild` and then `scan` doesn't seem to replicate the behavior I saw with the manual `xcodebuild` commands chained together. This despite the `scan` command not having the `build` component. It still does a full rebuild, leading to possible 65s.

@KrauseFx Any ideas? Would a two phase build be possible for scan?

[2015-10-29 18:28] jshier commented on #7
@augustj Ah, apparently it matters if you do a clean as part of the `xcodebuild` command. Doing it as a separate one and then building and then running `scan` apparently works fine. Weird.

[2015-10-29 18:35] #18 closed

[2015-10-29 19:46] jshier commented on #7
@KrauseFx 0.2.0 did not fix the return 65 problems I was having. The two phase build system described by @augustj worked fine.

[2015-10-30 18:03] yakimant opened #26 "Simulator is not started"
I've got this issue:
`2015-10-30 16:56:05.815 xcodebuild[53793:347720]  iPhoneSimulator: Timed out waiting 120 seconds for simulator to boot, current state is 1.`

I've got it before tunning xcodebuild (xctool didn't have this issue).
It is solved by running the simulatore (instrument -w or ios-sim).

But maybe it can be solved inside scan?

Appreciate you work!

[2015-10-30 18:22] xfreebird commented on #26
@yakimant mostly likely you have a slow machine. are your running on a CI box or manually from command line ?

@KrauseFx in `xctest` that was tackled by retrying the execution of tests if such a message would appear.

[2015-10-30 18:41] yakimant commented on #26
It was on my laptop. I cant increase timeout to be sure.
But even can't see the simulator window opening.

Also - We had such case on CI with plain xcodebuild and fixed it with simulator running
We also have some projects not failing with this issue. It must be some xcodebuild error.

[2015-10-30 18:45] xfreebird commented on #26
@yakimant have you checked the xcodebuild log ? `~/Library/Logs/scan`

[2015-10-31 02:40] jengo commented on #17
@nmccann This is exactly the issue I was having.  My app is iOS 9.0+ and I have iOS 8.4 installation for development on an older app.  It keeps selecting the iOS 8.4 simulator.  The problem goes away when I set the fastlane parameter of scan to include the iOS version.  For example:

device: "iPhone 6 (9.1)"

[2015-10-31 02:51] nmccann commented on #17
@jengo, right this is no longer a problem as a recently merged PR added support for explicit versions. Closing issue as a result, thanks @krausefx and @legoless for submitting the fix!

[2015-10-31 17:51] sguillope opened #27 "Add support for output_name parameter"
It would be nice if it was possible to specify the name of the output file (similar to `gym`'s `output_name` parameter).
We are running our tests on Bamboo but the [Junit Parser plugin](https://confluence.atlassian.com/bamboo/junit-parser-289277056.html) only seems to parse files with an `.xml` extension. We currently have to manually rename the output file `report.junit` to have the `.xml` extens

[2015-10-31 20:33] KrauseFx commented on #27
@sguillope It's probably best to add a `mv` command after running `scan`, as even if you'd specify an output name, it might not include the extension.

[2015-10-31 20:50] xfreebird commented on #27
@KrauseFx is there a reason why you used the `.junit` file extension ? since most the tools I know creates the JUnit report with  the `.xml` extension.

[2015-11-01 00:29] KrauseFx commented on #27
@xfreebird I think it was default of `xcpretty`

[2015-11-01 00:29] KrauseFx commented on #17
:+1:

[2015-11-01 09:34] xfreebird commented on #27
from `xcpretty` I see that the default report name is `build/reports/junit.xml`

The file name is coming from `scan/report_collector.rb` in `generate_commands`:

[code]

I think it would be better to use a different name for `report.junit`, something like `junit/TEST-report.xml`. This is a wide used name format for junit tests reports.

[2015-11-01 23:36] KrauseFx commented on #27
Sounds good to me :+1:

[2015-11-02 14:13] kcharwood commented on #6
I'm seeing this error at the start of running scan:

[code]

Followed by this at the end:

[code]

[2015-11-02 14:16] kcharwood commented on #6
It looks like `/Users/kevin.harwood/Library/Logs/scan` may have been created a while ago when I ran scan against another project, most likely with scan install via a different mechanism. Removing that directory, and letting scan recreate it seems to have worked for me.

[2015-11-02 14:57] yakimant commented on #26
Hmm, it suddenly disappeared. Will play around and post here the updates.

[2015-11-02 15:00] kcharwood commented on #17
im seeing this error too @KrauseFx

[code]

Printing out `instruments -s`, I can clearly see that is an 8.4 device.

[code]

Why is scan not selecting from the above list if no device is specified?

[2015-11-02 15:55] vinnybad opened #28 "Seeing "Failed to launch IBCocoaTouchImageCatalogTool via CoreSimulator spawn""
I'm seeing this issue intermittently: "Failed to launch IBCocoaTouchImageCatalogTool via CoreSimulator spawn"

From initial searches, it seems to be an internal xcode issue and others have resolved the issue by restarting the machine or Xcode.  I haven't had success with restarting / clearing derived data however.

Is there something else that can be done here to help mitigate this issue?  I'm spa

[2015-11-02 17:17] kcharwood opened #29 "SCAN_DEVICE works when running scan directly, fails when running fastlane"
I've got an interesting issue. When I run `scan` directly with a custom device (`"platform=iOS Simulator,OS=9.1,name=iPhone 6"`), it works fine:

[code]

When I create a fastlane, and setup an env file, it fails to find that simulator:

env file:
[code]

fastlane:
[code]

Am I doing something wrong there?

[2015-11-02 17:18] kcharwood commented on #29
Nevermind. Doh -a instead of -d

[2015-11-02 17:18] #29 closed

[2015-11-02 20:16] yakimant opened #30 "output_style parameter support"
It would be nice to have `output_style: :basic` as xcodebuild action has.

Thank you!

[2015-11-02 20:55] yakimant commented on #26
Ok, I'm getting this issue even with `-destination-timeout 500`.
From log I can't see anything suspicious.

[2015-11-02 20:56] xfreebird commented on #26
`-destination-timeout` is for real devices, it doesn't help when using simulators

[2015-11-02 21:55] #30 closed

[2015-11-02 21:55] KrauseFx commented on #30
This will be in the next release :+1:

[2015-11-03 00:27] KrauseFx commented on #17
@kcharwood did you find a solution for this error?

[2015-11-03 02:20] kcharwood commented on #17
I had to specifically provide a device. Couldn't get it to automatically make the right selection :(

[2015-11-03 02:23] kcharwood commented on #17
@KrauseFx I'm guessing [these lines](https://github.com/fastlane/scan/blob/4f707e4798edb42973b3e169f4e57861989d573b/lib/scan/detect_values.rb#L39-L40) are the problem.

In my example, you can see it selected an iOS 8.4 iPhone 5s, rather than the 9.1 one. It's probably worth re-opening this issue.

[2015-11-03 13:33] yakimant opened #31 "Selecting a wrong simulator (os version)"
Running scan from fastlane with following parameters:
[code]

I got the following xcodebuild arguments (from the build log):
[code]

But I actually this device is not 9.0:
[code]

Is it a bug, or I should select OS by setting explicit destination, like this:
`destination: "platform=iOS Simulator,name=iPhone 5s,OS=9.0"`

Thank you!!

[2015-11-03 13:36] yakimant commented on #30
You man rock!

[2015-11-03 14:10] yakimant commented on #26
Anyway, it didn't help, so I'm starting the simulator manually as before:
`Process.fork { system "xcrun instruments -t 'Blank' -l 1 -w '#{options[:device]    } (#{options[:os]})'" }`
And killing afterwards:
`killall "Simulator"`

[2015-11-03 18:14] nmccann commented on #31
See [this comment/issue](https://github.com/fastlane/scan/issues/17#issuecomment-152687919)

[2015-11-04 00:04] yakimant commented on #31
@nmccann, thanks for pointing.
Will try `device: "#{device} (#{os})"` tomorrow.

[2015-11-04 16:28] yakimant commented on #31
Ok, `device: "#{device} (#{os})"` scan parameter works fine, closing now.

[2015-11-04 16:28] #31 closed

[2015-11-04 16:31] yakimant commented on #26
Should this be closed?
I can think of two ways of fix:
1) add scan parameter to run/stop simulator explicitly
2) add run/stop simulator actions

[2015-11-05 01:12] johnboiles opened #33 "Environment variable to disable slack for scan"
I have the SLACK_URL environment variable set in my Fastfile in order to enable slack notifications in some of the other fastlane tools. However I don't want `scan` to ever post to slack. Currently, my fix is to set `skip_slack: true` in every lane that uses scan.

It'd be nicer if we had an environment variable to skip slack (perhaps `SCAN_SKIP_SLACK`) so that I didn't have to include the `skip_s

[2015-11-06 09:57] hannesoid opened #34 "iPhoneSimulator: Could not launch simulator: -600"
I have some integration tests running on a jenkins every hour using fastlane 1.37.0, Xcode 7.1, scan 0.2.1. About half of the times it fails like this:
[code]

where the log file looks like this:
[code]

[2015-11-06 13:47] maurobender commented on #16
:+1: Great idea, and it would be also great if we could see the code coverage in the reports. Maybe some kind of integration with [Slather](https://github.com/venmo/slather).

[2015-11-06 15:05] yakimant opened #35 "scan is twice slower on building code"
As I see - the difference between my xcodebuild arguments and scan generated is:
I run `clean test` and scan runs `clean build test`.

I also see duplicates of compiling lines.

Is it building twice?

[2015-11-08 11:52] TamirTwina opened #36 "Running tests on more than one device"
Hi,
Is it possible to run tests on more than one simulator (eg. iPhone 6s,iPad Air 2) .
In xctest it's possible to have multiple destinations .
Otherwise , is there a way to run scan twice for each config while merging the
report ?

[2015-11-10 07:03] adou600 opened #37 "Run only the unit tests (or only the UI tests)"
In my deployment pipeline, in the commit stage, I would like to run only the unit tests in order to have a commit stage lasting maximum 5 to 10 minutes.
Then, if it succeeds, I would like to run only the UI Tests, to know if the acceptance tests pass.
I could also imagine a mix of both, where the unit tests and 1 or 2 UI Tests (as smoke tests) should run in a stage, and then some others.

Is it do

[2015-11-10 21:20] alexanderjrobinson commented on #26
I am seeing the same issue. Runs fine on my local machine but not on my CI server which is a reasonably powerful Mac Mini. It works sometimes but more often than not the build fails waiting on the simulator.

In my case the simulator is launched (possibly from a previous build), so it is at least launching the simulator.

[2015-11-12 21:07] lemonkey commented on #34
:+1:

[2015-11-14 03:08] lemonkey commented on #16
Right now I'm using the junit output from scan with cobertura to generate coverage reports that Jenkins can process...

[2015-11-14 03:14] lemonkey opened #39 "Continue after tests fail, in order to still generate coverage reports?"
Is it possible to have a lane call a private lane, in this case a lane that uses scan, in order to continue to do actions afterwards, such as generating coverage reports based on the test-reports generated by scan,  even if there is one or more failing unit tests? Right now everything fails/quits once scan detects one or more failed unit tests..

[2015-11-14 03:18] lemonkey commented on #39
dupe: #7

[2015-11-14 03:18] #39 closed

[2015-11-14 03:20] lemonkey commented on #7
:+1: Would really like to see scan patched to address this..

[2015-11-14 08:27] anton-matosov opened #40 "Tests exucution fails because simulator version is not satisfying minimum Deployment Target"
Deployment target of the project is 9.1
`scan` picks the first simulator with iOS 8.4
[code]

[code]

[2015-11-14 11:04] lemonkey opened #41 "Scan adds workspace parameter even if you don't set it"
I would like to be able to set the target via xcargs without setting workspace since xcodebuild can't have both at the same time. It seems that scan is adding the workspace parameter to xcodebuild automatically...I need this for a static library project that has a normal target and a test target...

[2015-11-16 10:16] #16 closed

[2015-11-16 10:21] KrauseFx commented on #16
The new release is live: https://github.com/fastlane/scan/releases/tag/0.3.0

[2015-11-16 19:01] nitinalabur commented on #26
Runs fine on my CI server, when I run it myself, but fails when jenkins on the same machine tries to run scan as part of a lane. (getting the 120 second timeout error)

[2015-11-16 19:28] lemonkey commented on #7
Latest release 0.3.0 still throws a Ruby runtime exception whenever a unit test fails. Also, it seems the math being used to count the total number of tests and the number of failures is a bit off in the initial summary string. The "Test Results" summary table is correct however.

[code]

[2015-11-17 09:03] viktorbenei commented on #7
Hi everyone. Just wanted to add a couple of notes, as we did quite a lot of research when we implemented the Bitrise Xcode Test step.

The issue is that if you call `xcodebuild` with just `test` (`xcodebuild ... test`) the build time will be **included** in the test boot time. This practically means that if your clean build (`xcodebuild ... clean test`) takes more than 120 seconds you'll **always*

[2015-11-17 12:13] squarefrog opened #42 "Scan doesn't seem to see my Scanfile"
I have the following `Scanfile` (originally generated by `scan init`):

[code]

[code]

When I try and run `scan` it prompts me to specify a project name:

[code]

[2015-11-17 18:23] KrauseFx commented on #42
@squarefrog Just a random guess: Do you have a fastlane folder but your `Scanfile` is in the project root?
If you specify the path to your project manually, what does the table of summary show? Did it use the other values e.g. Device?

[2015-11-17 18:28] squarefrog commented on #42
@KrausFX exactly that.

Project directory is roughly

[code]

The path is specified using the `workspace` key in my `Scanfile`. I also added the `project` param, but it still asked me to manually provide it with a path.

[2015-11-17 18:29] squarefrog commented on #42
@KrauseFX I wish GitHub autocomplete user names on iOS ;)

See post above.

[2015-11-17 18:32] squarefrog commented on #42
Sorry - `Scanfile` is in the `fastlane` folder.

[2015-11-17 18:36] KrauseFx commented on #42
@squarefrog GitHub does auto complete users :wink:

[2015-11-17 18:38] squarefrog commented on #42
@KrauseFX not on my iPhone they don't :)

[2015-11-19 03:07] bgerstle commented on #34
No access to the build logs (and works locally), but I think I'm seeing this [on Travis](https://travis-ci.org/wikimedia/wikipedia-ios/builds/91961059#L6834).

[2015-11-20 18:49] petester42 opened #45 "More Platforms"
It would be cool if scan would support watchOS and tvOS. I've run into an issue using it where it defaults to iOS Simulator when testing a tvOS target instead of tvOS Simulator.

I don't know if this change would need to be done to `FastlaneCore` but the section that would need to be changed is the following:

https://github.com/fastlane/scan/blob/843c1b74a51bb6405482e73863078e8b9076ac26/lib/scan/

[2015-11-25 01:44] arunks commented on #17
@KrauseFx
I would like to re-open this issue as well.
When I pass in the destination from the Scanfile I get this in the xcodebuild params :
-destination 'platform='iOS Simulator',OS='8.4',name='iPhone 6''
Destination in xcodebuild should be passed in this way :
-destination platform='iOS Simulator',OS='8.4',name='iPhone 6'

I tried working around this by passing the destination as an XCARG but th

[2015-11-25 02:45] KrauseFx commented on #17
I pushed a new release today, could you check if that fixes your problem?

[2015-11-25 10:11] Valpertui opened #47 "Crash on build when executing test on project with appname containing a simple quote (')"
Issue b1453ecee8c346abeaa057febff059f0

[code]

Bug : My app name contains a simple quote, causing the build to crash

Solution : Replace all simple quotes of the generated command by escaped double quotes in https://github.com/fastlane/scan/blob/master/lib/scan/test_command_generator.rb

[2015-11-26 11:58] wolffan commented on #7
I can't use scan either....

I ended up with the following (thanks for all great examples):

[code]

[2015-11-27 11:19] fatuhoku opened #48 "What's the recommended way to watch files for changes?"
You know — it'd be nice to run unit tests on every file save, just like Scala's `sbt` does — so that you get feedback after a few seconds of editing without necessarily having to manually run your tests all the time.

It'd be great if scan could provide a flag that accepts a GLOB, and it basically watches out for those files changing and triggers test runs. This is a use-case for developers rather

[2015-11-30 10:10] tutipeti commented on #35
Any feedback here? I find it funny how `fastlane` is telling me that it saved me time when I can easily see that `scan` is compiling twice - so running the tests takes about twice as long as it did when I were using only `xcodebuild`.

[2015-11-30 11:44] pmwheatley commented on #42
@KrauseFx I had the same issue - seems `scan` checks for the presence of a `Scanfile` in the workspace directory rather than in the `fastlane` dir.

[2015-12-02 04:03] scottrhoyt commented on #26
+1. Good on local. Fails on CI running on a VM (Bitrise).

[2015-12-02 12:25] Tokuriku commented on #27
Any advances made on this issue?

[2015-12-02 13:49] alex-hunsley-zonal opened #49 "scan hangs after running tests (process doesn't exit; I'm not returned to the shell)"
I'm using scan to run my iOS app tests. I'm invoking it merely as 'scan' in the root of my iOS project. It runs all the tests but then just hangs. By 'hang' I mean that control isn't returned to the shell, I have to do CTRL-C.

When I do CTRL-C I see the following text:

[code]

I've tried invoking scan by using fastlane and a Fastfile and the same thing happens.

[2015-12-02 13:51] alex-hunsley-zonal commented on #49
Sorry, here's the console output in code formatting shape:

[code]

[2015-12-02 17:11] scottrhoyt commented on #7
@viktorbenei Thanks for your really helpful comments. Any chance to get a PR for scan to either:
1. `xcodebuild ... clean build test`
2. open up the simulator before running the rest of scan

[2015-12-03 18:22] scottrhoyt commented on #7
This issue keeps popping up for us. The workarounds here offered a partial fix. However, we ran into another problem. We need to run Xcode UI Tests, which require iOS 9 or above. Our CI server (Bitrise) defaults to an iOS 8 device. So we are trying to use the above workarounds while specifying building and testing on an iOS 9 device, but we still run into the double compilation/timeout problem. It

[2015-12-04 20:27] jacobvanorder commented on #27
:+1:

[2015-12-07 17:21] scottrhoyt commented on #7
This looks to be the same as #26 and #34

[2015-12-07 23:38] arunks commented on #35
Looks like this is an issue. I tried running the xcodebuild command generated by scan directly without the build option. Just clean test. That seems to have cut the time in half.

[2015-12-08 10:22] tomaszwojcik opened #51 "Crash after generating reports"
Hey

After running scan for my test target everything runs smoothly, but it ends ungracefully:

[code]

My specs:

* OS X 10.11.1
* `ruby 2.0.0p645 (2015-04-13 revision 50299) [universal.x86_64-darwin15]`
* `zsh 5.1.1 (x86_64-apple-darwin15.0.0)` with tmux

[2015-12-08 14:33] mackoj opened #52 "Scan should use scheme setting for code coverage"
Hi,

I think `scan` should use scheme setting for code coverage by default and maybe be overladed by `code_coverage` setting.

Cheers,

[2015-12-08 17:07] cennydavidsson opened #53 "Run tests on an iOS device"
Is there a way to run scan and have the tests run on an actual iOS device instead of a simulator?

[2015-12-09 23:40] scottrhoyt commented on #7
FWIW, my current work around is to test via xctool.

[2015-12-10 01:07] humblehacker commented on #17
I just ran into this. The device that was selected isn't in the list of available devices. I passed "iPhone 6" for the device parameter.

[code]

[2015-12-10 03:44] KrauseFx commented on #53
Sorry right now `scan` is designed to run on simulators only.

[2015-12-10 08:14] cennydavidsson commented on #53
Okay, would you merge a pull request with device support?

[2015-12-10 20:09] mtitolo commented on #53
I'd also like to see this.

xcodebuild supports running tests on device by setting the `--destination 'id=UUID'` but `scan` currently fails to generate reports after tests have completed and hangs.

[2015-12-10 20:25] mtitolo opened #55 "Large project build log is truncated"
When running `scan` in my large project, log output in `~/Library/Logs/scan` is truncated. The log file saved is 148MB but is missing a large chunk of the beginning of the build output.

Can't post my build output but happy to provide any other info.

[2015-12-12 11:04] jeeftor commented on #27
I fully agree with this!   .xml would make things more compatible with bamboo

[2015-12-12 16:16] jeeftor commented on #40
I have a very similar issue - however I did get my tests to work with using XCTool instead of scan:

This works for me:

[code]

Wehre as

`scan --sdk iphonesimulator --scheme otto`

doesn't

[code]

[2015-12-12 16:45] jeeftor opened #56 "iPad vs Universal"
I was running into an error with `scan` with a  project set to build only for **iPad**

    +------------+------------------+
    |    Summary for scan 0.3.2     |
    +------------+------------------+
    | project    | ./otto.xcodeproj |
    | scheme     | otto             |
    +------------+------------------+

    [11:44:08]: $ set -o pipefail && env NSUnbufferedIO=YES xcodebuild -scheme 'ott

[2015-12-12 16:48] jeeftor commented on #56
FYI:  _Uinversal_ =     `TARGETED_DEVICE_FAMILY = 1,2`
 iPAD =   `TARGETED_DEVICE_FAMILY = 2`

in the XcodeBuidl settings...

[2015-12-14 02:26] KrauseFx commented on #52
Could you provide more information on how that's possible? Sorry, I'm not very familiar with code coverage reports

[2015-12-14 02:28] KrauseFx commented on #48
I was thinking about adding this functionality, but ended up deciding against it, since running tests on iOS (especially with Swift) take forever and this wouldn't really scale. What do you think?

[2015-12-14 02:28] KrauseFx commented on #47
But then this breaks apps with `"` in the name, right? :wink:

[2015-12-14 02:29] KrauseFx commented on #37
Currently that's only possible by having 2 separate schemes, one for UI Tests, one for unit tests

[2015-12-14 02:30] KrauseFx commented on #36
I'd like to add that, in a similar way you can already do that with [snapshot](https://github.com/fastlane/snapshot)

[2015-12-14 02:30] KrauseFx commented on #33
You can just add this to your `Scanfile`

[code]

[2015-12-14 02:30] KrauseFx commented on #33
:+1:

[2015-12-14 02:30] #33 closed

[2015-12-14 02:31] KrauseFx commented on #30
:rocket:

[2015-12-14 02:32] KrauseFx commented on #53
I'm more than happy to add this functionality. @cennydavidsson how would you design the interface to select the device? You might have multiple real devices connected to your Mac, so how would you choose it? Based on the name or the UUID?

@mtitolo

Sorry, I'm not sure I fully understand, what does the first part of the sentence have to do with the second one?

[2015-12-14 02:34] KrauseFx commented on #55
That's weird, so you should see the command printed out that `scan` uses, if not, you can use the `--verbose` flag.

Basically `scan` pipes the raw `xcodebuild` output over into a file using

[code]

I'm not sure what I missed on why the logs would be truncated.

[2015-12-14 02:36] KrauseFx commented on #35
@yakimant did you test everything when removing the `build` part of the command? I'm pretty sure there was a reason this was added to `scan` a while back, but can't remember why.

[2015-12-14 02:37] KrauseFx commented on #51
This seems ungracefully, but was actually by design (back then), I'm currently in the process of updating this https://twitter.com/KrauseFx/status/676190970820497408

[2015-12-14 02:37] #51 closed

[2015-12-14 08:39] kdawgwilk opened #57 "Add support to share test results for use in other actions"
It would be great if the tests results were shared so they could be used in other actions to allow for keeping analytics or forming custom messages to team chat.

[2015-12-14 09:35] Valpertui commented on #47
I would think that `'` are much more common in Product Names than `"`, but you are right, the correct way to do it would be to properly escape the whole string, or to simply delete the specials characters for the generated log path :
actual : `"\(productName)-\(schemeName).log"`
optimal : `"\((productName + "-" + schemeName).escapedString).log"`
I will look into doing a PR to fix it later this wee

[2015-12-14 09:49] mackoj commented on #52
Hi Felix,

Code coverage can be enable from the Scheme page.

[2015-12-14 10:08] mackoj commented on #52
Hi Felix,

What I have tried to explain is basically ask if `code_coverage` can work like in Xcode Server.

Xcode Server work as follow when you configure a bot you have this settings.

![Bot Settings](https://cloud.githubusercontent.com/assets/661647/11777977/dd50e570-a251-11e5-94e7-80e5fe778753.png)

In the Scheme you can enable it here.

![screen shot 2015-12-14 at 10 45 29](https://cloud.githu

[2015-12-14 11:12] albertschulz commented on #53
I would also be really happy about this functionality!

[2015-12-14 16:05] johnboiles commented on #33
Fastlane will pick up the defaults in your Scanfile? But those defaults can be overridden by passing parameters in the Fastfile? Neat

[2015-12-14 16:07] KrauseFx commented on #33
Yeah :+1:

[2015-12-14 16:12] mtitolo commented on #53
@KrauseFx I can get `scan` to run on an iOS device connected to my computer, but it doesn't generate reports. After tests finish it just sits there.

[2015-12-14 16:36] johnboiles commented on #33
👍🏼 Thanks @KrauseFX!

[2015-12-15 09:44] hokster7 commented on #48
@KrauseFx I tend to agree. A majority of my tests are still in Objective-C and the launch time of the tests (loading the binary onto the simulator) is about 7s in itself.

I don't know about Swift — but my experience is that 7s still isn't too bad. You can edit, and then have a drink, and then see your results.

If you manage to keep that run time low by having many small test suites as opposed to

[2015-12-15 11:39] TamirTwina commented on #36
yeah seems like the right way to go. Meanwhile i was able to "hack" it by injecting to
the destination param several destinations (playing with the string delimiters) .
As currently it eventually just concatenates the "destination" param to the command line
options .

[2015-12-15 13:16] vorobievalex opened #59 "Reset Content and Settings option"
Is there an option to Reset Content and Settings as the corresponding Simulator menu does?
This is extremely helpful for complex tests.

[2015-12-15 13:45] attheodo commented on #35
+1 for that. `scan` takes significantly more because it involves rebuilding the whole thing VS hitting `CMD+U` on Xcode. `clean: false` doesn't seem to help.

[2015-12-15 22:14] KrauseFx commented on #47
Thanks @Valpertui :+1:

[2015-12-16 17:00] PycKamil commented on #49
I have exactly same problem with scan, process just hangs
![screen shot 2015-12-16 at 17 59 59](https://cloud.githubusercontent.com/assets/1215063/11847667/dea1ed2e-a41e-11e5-88e8-8e4cc78f0d7f.png)

[2015-12-17 20:11] hemal commented on #52
Great feedback! I'll share this with the team and see what we can do in a future release. Stay tuned :)

[2015-12-17 20:16] KrauseFx commented on #59
Sorry, that's not possible right now.

[2015-12-17 20:16] KrauseFx commented on #59
Actually this is not even the recommended way for unit testing, as the simulator should be left in a clean state after running by default

[2015-12-17 20:16] #59 closed

[2015-12-18 15:41] jschmid commented on #17
I am also seeing this, [with](https://travis-ci.org/jschmid/tests-ci/builds/97687304) and [without](https://travis-ci.org/jschmid/tests-ci/builds/97678646) selecting a device.

[2015-12-19 00:28] arunks commented on #35
@KrauseFx I have been using xcodebuild to workaround this problem, instead of Scan. Currently, I am just passing the test command and have seen no issues with it in running our CI.

Also, I compared the execution times of just xcodebuild test from fastlane and using Scan from fastlane. Scan is considerably slower because does a build and test. Hope this helps.

I have a PR, if you think everything

[2015-12-21 08:28] gretzki commented on #7
Hi there,

since I'm having the same issue here, that I want to further process the tests result, I ended up forking scan. My suggestion is to provide an option to omit the exception. Additionally, the number of failing tests is provided as return value, so that processing this value is possible.

Please review https://github.com/fastlane/scan/pull/64 and let me hear what you think.
It sure works

[2015-12-22 00:36] fcy commented on #53
I've been using scan to run my KIF tests on a real device by passing the device name to the destination option, and it is working.

[code]

And this is how I call it:

[code]

[2015-12-22 23:55] fcy opened #65 "Scan is reporting successful tests when they fail with exit 65 (in this case an uncaught exception)"
I just noticed that scan is reporting that my tests pass even though one of them failed. The failing test is raising an exception that is not being caught, this is the weird scan output:

[code]

Total number of tests if 50. `xcodebuild` is exiting with `65` and `scan`'s exit code is `0`.

When I run the same set of tests from Xcode or xcodebuild it fails as expected. Let me know what other inform

[2015-12-23 14:13] jeeftor commented on #56
I got this fixed...

[2015-12-23 14:13] #56 closed

[2015-12-24 07:43] n4me1ess opened #67 "Adding a timeout option"
I am running XC UI tests. Often they are stucking because of simulator is not responding. The scan process  wait a long time. **Is there some way to terminate testing by timeout and generate report as is?**
Also, My console output says me nothing about some problem with sim:
[code]

[2015-12-29 01:51] kdawgwilk commented on #35
I am also seeing not only everything built twice but the tests are being ran twice 😁 Looks like I am going to switch back to `xcodebuild` till it gets fixed

[2015-12-30 14:04] jeeftor opened #69 "Coverage Reports?"
Does scan have a mechanism to generate coverage reports?  I know  you can enable coverage checking but i'm not sure what else you can do with it.

[2015-12-31 09:33] anton-matosov commented on #42
I have the same issue. What is the expected behavior for the Scanfile? where it should be by design?

[2016-01-04 12:55] albertschulz commented on #53
Thanks to @fcy The solution works fine for me. For me it also prints the right results and does not just sit there @mtitolo .
I have a separate XCUITest Scheme

[2016-01-05 14:29] jcampbell05 opened #70 "Add link to action in fastlane"
I can't always remember the syntax of the action, what if we had a link for the "Scan is part of fastlane" bit of the readme for the fastlane action itself.

Of course this will be made easier when we add support for actions plugins.

[2016-01-05 17:42] francesco-puglisi commented on #29
@kcharwood I'm experiencing the same issue. It sounds like you found the issue, but I don't understand what it was. Could you expand on your last comment please? Cheers

[2016-01-05 18:04] kcharwood commented on #29
I was using -d when I should have been using -a

[code]

[2016-01-06 03:40] OptimusKe opened #71 "slack hook not work on "slack_url" and "slack_channel""
hi,
I use script like

scan --slack_url https://hooks.slack.com/services/mychannelxxx

and

scan --slack_channel mychannelxxx

then output
/usr/local/lib/ruby/gems/2.3.0/gems/fastlane_core-0.32.0/lib/fastlane_core/configuration/config_item.rb:56:in `valid?': 'slack_url' value must be a String! Found TrueClass instead. (RuntimeError)

/usr/local/lib/ruby/gems/2.3.0/gems/fastlane_core-0.32.0/lib/fas

[2016-01-06 10:41] francesco-puglisi commented on #29
@kcharwood I see now. If you used -d, you would have gotten the same error. Thanks for taking the time to reply.

[2016-01-06 15:28] mfurtak commented on #42
Closing this based on @alexcristea's fix, please reopen if needed!

[2016-01-06 15:28] #42 closed

[2016-01-06 15:42] squarefrog commented on #42
Great! :+1:

[2016-01-07 09:47] dalu93 opened #72 "Returning the test result"
Hi,
Is there a way to manage the test result directly on `Fasfile`? For example, I was expecting there was a variable into `lane_context`, but I can't find it.
This is what I want to do

    scan(
        ...
    )

    if test_result
        testflght(
            ...
        )
    end

[2016-01-08 01:42] anton-matosov opened #73 "Scan picks the wrong project name for Slack message"
I am using xcworkspace for my projects and for some of them `scan` picks the wrong project name to be posted on Slack:
[code]
Is there a way to specify `slack_project_name`?

[2016-01-08 12:09] TiagoVeloso opened #74 "Integration with OCLint?"
`xctool` has a reporter option to generate `compile_commands.json`that can be used by `OCLint`

Does `scan` offer the same option? How do I achieve that?

[2016-01-12 02:35] KrauseFx commented on #74
What do you use it for?

[2016-01-12 02:36] KrauseFx commented on #73
The code below finds the name

[code]

I wonder if that's the case for all CocoPods apps

[2016-01-12 02:37] KrauseFx commented on #72
Sorry, not possible right now

[2016-01-12 02:39] #71 closed

[2016-01-12 02:39] KrauseFx commented on #71
Thanks for reporting this, I pushed a fix, which will be available in the next release :+1:

[2016-01-12 02:40] KrauseFx commented on #70
Sounds like a great idea, however I want the `fastlane` link on the top of the readme to link to fastlane itself.
Also, it takes a lot of time to update the links of all readmes.

[2016-01-12 02:41] KrauseFx commented on #69
You can enable it using `scan --code_coverage`. Please let me know if that helps :+1:

[2016-01-12 09:29] jcampbell05 commented on #70
Gotcha :) Guess we could automate the READMEs in future

[2016-01-12 09:29] #70 closed

[2016-01-12 09:37] beloso commented on #74
Sorry, I did not understand the question.

What are you referring to? What do I use the reporter option for?

I use that to generate the `compile_commands.json` and feed that to `oclint` for it to work.

I know that I can use `xctool` for this effect, but I would rather use `scan`.

[2016-01-12 12:05] devashish2203 opened #76 "Reinstalling app before Tests are run via scan"
I was looking for a way to reinstall the app on the simulator before the tests are run using scan. But could not find any way to do it.

snapshot has this feature
`snapshot --reinstall_app --app_identifier "tools.fastlane.app"`

Would it be possible for scan to have this feature as well?

The use case I have:

I am using scan for CI to run tests against PRs raised. There are instances when one of

[2016-01-12 22:20] KrauseFx commented on #76
The idea is that your tests should work no matter in which state your app is in. It's the same when you run tests from within Xcode.

[2016-01-12 22:23] KrauseFx commented on #70
I started, but it was not as easy as I wanted it to be

[2016-01-13 15:02] devashish2203 commented on #76
Thanks for clarifying. I updated my tests to clear the defaults using the launchArguments provided by Xcode to have the same default state for each test run.

Closing the issue.

[2016-01-13 15:02] #76 closed

[2016-01-13 17:47] KrauseFx commented on #76
:+1:

[2016-01-14 09:41] JanC commented on #69
Where is the code coverage generated? I used that option but I don't see the report

[2016-01-14 14:39] jeeftor commented on #69
Yes that is actually what I was asking. Do you make html reports of coverage

[2016-01-18 15:56] alexanderjrobinson commented on #26
Any update or workaround for this issue?

[2016-01-18 20:18] ricardopereira opened #78 "`handle_results': Tests failed (RuntimeError)"
**Version:** `scan 0.4.1`
**Xcode 7.2:** build version 7C68

**Scanfile:**
[code]

The scheme runs 2 target tests.

**Error output:**
[code]

[2016-01-18 21:03] scottrhoyt commented on #26
My workaround is to test using xctool as opposed to scan.

[2016-01-19 00:32] KrauseFx commented on #78
Yeah, that basically means that your tests have failed. Can you share the complete output

[2016-01-19 20:38] rodrigo-galba commented on #49
Hi @alex-hunsley-zonal,

I'm trying to reproduce this error, so, could you share basic info about your environment. More precisely, version info:

1 - Ruby
2 - Mac OS X
3 - iOS simulator
4 - Xcode
5 - Fastlane

In addition, could you share the relevant output when running `scan` on your machine with command of the xcode?

[2016-01-20 08:03] ricardopereira commented on #78
The output: https://dl.dropboxusercontent.com/u/11377305/tmp/travislog.txt

[2016-01-20 17:48] KrauseFx commented on #78
Your tests are failing

[code]

[2016-01-20 17:48] KrauseFx commented on #78
[code]

[2016-01-20 17:50] ricardopereira commented on #78
Oh, I see now. I know the test failed but the message seems like it was something wrong with `scan` himself. Sorry

[2016-01-20 17:50] #78 closed

[2016-01-21 14:34] alliannas commented on #7
@KrauseFx is there any work being done to resolve this 65 error in scan?

The alternative of using xcclean, xcbuild and xctest works, but then you are no longer using scan and its awesome features.

Is there any work being done to resolve this with scan?

[2016-01-21 15:29] joshrlesch commented on #72
Could you point me in the right direction an how you would add this feature, I would like to take a stab at it?

[2016-01-21 18:20] jshier commented on #7
@alliannas My workaround was to use the `xcodebuild` action to do a `clean` and then a `build` of my test target. Then I run `scan` and all it has to do is build the tests. That way I don't hit the 120 second timeout from the simulator.

[2016-01-21 18:59] lam2558 commented on #7
Try booting up the simulator first before you run scan.
xcrun instruments -t 'Blank' -l 1 -w "${name} (${OS})"

[2016-01-21 19:51] Ricowere opened #80 "6743.bs"

[2016-01-21 19:52] #80 closed

[2016-01-22 22:09] KrauseFx commented on #72
What kind of information do you want to access from within fastlane?

[2016-01-23 08:53] dalu93 commented on #72
Sorry for the late response. It could be useful to know which is the result (successful, build error, etc..)

[2016-01-25 05:05] kwoylie commented on #49
I had the same problem. And below are my details:
Ruby ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin15]
Mac OS 10.11.2
iOS simulator: iPhone 6s
Xcode: 7.2 (7C68)
Fastlane: 1.53.0
Scan: 0.4.1 (Same problem when I updated to 0.4.2)

|                         Summary for scan 0.4.1                         |
+-----------------------+------------------------------------------------+
| worksp

[2016-01-25 11:55] steprescott opened #85 "Test marked with the `@available(iOS 9.0, *)` decorator are ran on a iOS 8 simulator"
When running `scan` specifying no device it compiles the project and then proceeds to run the test using iOS 8.4. Within the project there are tests that have the new `@available(iOS 9.0, *)` decorator because they test components that use iOS 9 APIs.

XCTest takes note of these and will only run tests that are intended for the current OS whereas Scan does not.

This results in the simulator closi

[2016-01-26 17:35] anton-matosov commented on #73
There was a configuration issue inside the scheme file. Fixed that and name comes correctly.

[2016-01-26 17:35] #73 closed

[2016-01-27 01:49] KrauseFx commented on #73
:+1:

[2016-01-28 11:49] nikolaykasyanov commented on #35
same here.

[2016-02-01 17:12] luizfelipeairesoares commented on #69
Same here. I don't know where the coverage is

[2016-02-01 18:51] KrauseFx commented on #69
So the way it works, this will generate the raw coverage report. After calling `scan` from `fastlane`, you'd then use a built-in action for coverage reports (e.g. https://github.com/fastlane/fastlane/blob/master/docs/Actions.md#gcovr) that will generate a human readable file, like an HTML report.

[2016-02-03 02:08] scottrhoyt commented on #26
Anyone able to verify if this is fixed in 7.2.1:

[2016-02-03 18:20] alexanderjrobinson commented on #26
I am still seeing the same issue on the CI server after upgrading to 7.2.1.

`iPhoneSimulator: Timed out waiting 120 seconds for simulator to boot, current state is 1.`

[2016-02-04 15:54] pavelshadrin opened #87 "App screenshots of failed steps"
When UI tests are run locally inside Xcode, it's very useful to be able to see the screenshots of the app right before the UI test case fails:
<img width="291" alt="screen shot 2016-02-04 at 19 50 01" src="https://cloud.githubusercontent.com/assets/10427842/12820453/918fa540-cb78-11e5-956c-f9ebc80c9fd3.png">

But if UI tests are run with Fastlane or xcodebuild, only a derived data folder can be sp

[2016-02-04 18:50] frobichaud commented on #7
It looks like XCode 7.2.1 may solve this problem

[2016-02-04 19:38] vittoriom commented on #7
@frobichaud that would be amazing. Will check it out and hope for the best!

[2016-02-04 22:52] gabek commented on #49
I'm running into the same thing.

[2016-02-05 02:02] KrauseFx commented on #87
Yeah, that sounds like a cool idea :+1:

[2016-02-05 12:09] vittoriom commented on #7
I just checked it out, and I confirm that `scan` correctly run the tests!
The problem though, is that it still gives **error 65** at the end, even though the junit and html reports are correctly generated.
Also, there is a crash at the end of the process:

[code]

[2016-02-05 15:34] alliannas commented on #7
I just tested this with Xcode 7.2.1 and fastlane 1.57.0 and newest scan
0.4.2 and the problem disappeared.

No more weird timeouts issues.

On Fri, Feb 5, 2016 at 12:09 PM, Vittorio Monaco notifications@github.com
wrote:

##

Alexander Annas Helgason
iOS Engineer
QuizUp / Plain Vanilla Games
e. alliannas@quizup.com
Favorite topics: Game of Thrones
The information contained in this message and any

[2016-02-08 21:45] Munchery-KleinLieu commented on #17
I was able to get around this issue by using `instruments -s` to list all simulators, and then passing the pretty print name that is to the left of the UDID to `scan ... --device "..."`. Hope that helps.

[2016-02-09 00:41] sfranusic commented on #49
I am seeing the same behavior as described above.
1. Ruby: ruby-2.0.0-p576 (I used RVM to set it up)
2. Mac OS: 10.11.2
3. iOS Simulator: iPhone 6s
4. Xcode 7.2.1
5. fastlane_core (0.36.1)
6. scan 0.4.2

[2016-02-09 00:55] jinjorge commented on #49
running into the same issue. details of my setup below
1. Ruby
2. Mac OS: 10.11.4
3. iOS Simulator: iPhone 6s
4. Xcode 7.2.1
5. Fastlane: 1.53.0
6. Scan: 0.4.2

Scan summary

[code]

[2016-02-10 18:09] beloso commented on #74
Is this being considered?

I think it would be enough to support the "--reporter" flag from `xctest`

(I think, I don't know a lot about these tools)

[2016-02-10 18:42] Munchery-KleinLieu opened #89 "undefined method `message' for nil:NilClass in 'handle_results' method"
I get the following error whenever my tests don't pass around the time after test reports are generated. This happens both in Jenkins and locally on the command line. Any help would be appreciated!

[2016-02-10 18:57] KrauseFx commented on #89
Could you update using `sudo gem update fastlane_core` and see if that fixes the problem?

[2016-02-10 21:01] Munchery-KleinLieu commented on #89
`<ruby dir>/2.1.0/rubygems/specification.rb:2100:in`check_version_conflict': can't activate json-1.7.7, already activated json-1.8.1 (Gem::LoadError)`

Any ideas? Thanks for the help!

[2016-02-10 21:03] Munchery-KleinLieu commented on #89
Ah, @KrauseFx I just saw this (https://github.com/rubygems/rubygems/issues/1309)...is this still an issue in 0.4.2?

[2016-02-11 00:06] Munchery-KleinLieu commented on #89
For anyone coming across this issue, I fixed it by running `gem list json`, then seeing the older version and doing `gem uninstall json -v 1.7.7`

[2016-02-11 03:09] i2amsam commented on #89
Thanks @Munchery-KleinLieu !  Is this issue resolved with that fix?

[2016-02-11 18:34] Munchery-KleinLieu commented on #89
@i2amsam yeah I'll go ahead and close this! Thanks.

[2016-02-11 18:34] #89 closed

[2016-02-12 16:11] mpirri commented on #7
Thanks for your feedback, all!
Since Xcode 7.2.1 fixes the scan timeout originally referenced by the issue original poster, I'm going to close this issue. Please do not hesitate to open other another issue if you feel that there are other, unaddressed behaviors captured in the above thread that were not fixed by Xcode 7.2.1.

[2016-02-12 16:11] #7 closed

[2016-02-12 16:23] mpirri commented on #17
@jschmid question for you - can you tell me what simulator was chosen by scan?

Specifically, scan tried to use this simulator:
`7164E5EE-709F-43D0-9EF7-F92703D000AA`
I'm guessing this simulator is a iPhone 5s, running iOS 9.0.  And, it appears that your scheme requires iOS 9.2, is this correct?

My feeling is that there is an issue with scan where it incorrectly believes that 9.0 simulators are s

[2016-02-12 19:19] mpirri commented on #36
@TamirTwina thanks so much for the feature request. We look forward to adding it in a future version of fastlane.

Also - clever solution using the destination parameter trick. Hopefully we can make it even easier for you. :smile:

I'm going to close this issue for now - feel free to reopen or create another issue if you have more thoughts!

[2016-02-12 19:19] #36 closed

[2016-02-13 00:21] kinwahlai opened #90 "Is it possible to run individual test case/test class?"
Is it possible to run individual test case/test class? like -only in xctool

Darren

[2016-02-15 08:26] jschmid commented on #17
I think you might be right!

If you look at [this build](https://travis-ci.org/jschmid/tests-ci/builds/109292325#L840) that outputs the available devices. We have this line:

[code]

And then

[code]

However, the project deos not specifically chooses iOS 9.2. See the [next commit](https://github.com/jschmid/tests-ci/commit/b9f8f30ba2b87c4984b0b5b5cef7365659ab392a) and [its build](https://travis-c

[2016-02-15 15:29] KrauseFx commented on #90
Sorry, no, currently only the complete test suite

[2016-02-16 18:01] geoffraeder opened #91 "Connection interrupted, some tests skipped"
Hello,

First just want to say thanks for putting scan together.  Have been using it successfully to run our UI tests.  Anyway, something I've been noticing is sometimes the tests appear to stop and then restart resulting in some tests getting skipped.  They are listed as failed tests at the end, but not in the tallied count.  The only error I see in the log is this:
`BSXPCMessage received error f

[2016-02-16 18:37] vpolouchkine commented on #91
Can you try http://stackoverflow.com/a/29872829/4802413?

[2016-02-16 21:09] AnneTheAgile commented on #90
ty @KrauseFx  for a great suite of tools. I would love to be able to run individual items as well.
FYI, here is the github reference for xctool; https://github.com/facebook/xctool

[2016-02-18 19:25] jtwigg commented on #36
@TamirTwina Can you display an example of your cleverness in concatenating multiple destinations? I'd like to implement the same thing.

[2016-02-19 20:19] mfurtak commented on #37
Closing this pending hearing whether this is a reasonable work-around and/or there is broad demand for this feature. :+1:

[2016-02-19 20:19] #37 closed

[2016-02-19 20:26] mfurtak commented on #5
Hi @zwaldowski - apologies for the extended silence about this. Is this still an issue for you?

[2016-02-19 22:21] kdawgwilk commented on #65
I seems as though this happens when the test that failed was cause by a crash while it was running.
This is what the ouput says above while it was running the tests

[code]

This is what scan reports after it finishes running

[code]

Its as if the test was skipped and then continued on with the next test

[2016-02-19 22:38] kdawgwilk commented on #65
Related to #91

[2016-02-19 22:39] kdawgwilk commented on #72
:+1:

[2016-02-19 22:43] kdawgwilk commented on #69
[slather](https://github.com/SlatherOrg/slather) is also another option that works with Apples new `profdata` coverage format that was introduced in Xcode 7.  Fastlane already has a [slather action](https://github.com/fastlane/fastlane/blob/master/docs/Actions.md#slather) that works great as well.

[2016-02-19 22:49] kdawgwilk commented on #35
Was able to speed things up thanks to #86 by using gym to build the binary first then run scan with the new `skip_build` flag and then deploying same binary that was used for the tests 😊 before this change scan would build the app and test and then gym would build again after tests succeeded

[2016-02-20 15:32] KrauseFx commented on #35
Yeah, thanks for updating this issue, this is now implemented with https://github.com/fastlane/scan/pull/86

[2016-02-20 15:32] #35 closed

[2016-02-22 14:54] hemal commented on #45
Great idea! There are some challenges that we've explored potential workarounds for with watchOS and tvOS, but we don't have anything concrete yet. I'll circle back with the team to see what we can do in a future release, stay tuned :+1: Once I have an update, I'll re-open this ticket.

[2016-02-22 14:54] #45 closed

[2016-02-22 17:43] kcharwood commented on #65
I created an [example](https://github.com/kcharwood/ScanFailingTest) demonstrating this problem. Fastlane is not erroring if Scan exits with status code 65, but it should be.

You can run `fastlane test_framework` for that project and see the problem.

[2016-02-22 17:44] kcharwood commented on #65
[code]

[2016-02-22 17:45] kcharwood commented on #65
cc @KrauseFx for the above info ^

[2016-02-22 18:25] kcharwood commented on #65
I'm assuming [this code](https://github.com/fastlane/fastlane_core/blob/master/lib/fastlane_core/command_executor.rb#L77-L86) in `fastlane_core` is where the problem is?

[code]

It looks like the exception is probably not being raised in the case of scan?

UPDATE:

Could be [this](https://github.com/fastlane/scan/blob/master/lib/scan/error_handler.rb#L25-L30) too inside of scan. My ruby skills ar

[2016-02-22 20:56] kcharwood commented on #65
In runner.rb for `scan`

[code]

I think we need that to check result failures == 0 or a non zero exit code.

[2016-02-22 21:05] kcharwood commented on #65
In both cases (a test failure, and a crash/assertion failure) Xcode is exiting with status code 65.

[2016-02-23 02:56] KrauseFx commented on #65
Sorry for the late reply, I think one of the last `scan` and `fastlane_core` releases fixed someting. Does this still not work with the latest release?

[2016-02-23 03:04] zwaldowski commented on #5
Let me check, unfortunately had to not use Scan in the meantime.

[2016-02-23 03:26] kcharwood commented on #65
I'm pretty sure I was running 1.61

Did you try pulling my example down and running it? Away from computer now so can't check at the moment.

[2016-02-23 04:25] zwaldowski commented on #5
Seems to be fixed as of 0.5.0 and Travis CI worker 2.0.0. So someone fixed it! :+1:

[2016-02-23 04:25] #5 closed

[2016-02-23 15:04] mfurtak commented on #5
Great, thanks for having a look! :+1:

[2016-02-23 16:35] kcharwood commented on #65
@KrauseFx

I've verified I'm running the latest scan and fastlane, and my example project still fails.

Based on the reviewing the code, I believe the issue comes down to the fact that scan is ignoring the exit status code of the xcodebuild command, and is parsing the test results. Since xcodebuild didnt log a failure due to the test suite crashes, scan is reporting a successful run.

[2016-02-23 20:37] RobDay commented on #14
Another means of solving this would be to allow a custom message to be attached to the existing slack message.  Then, each user could pass in a branch name, commit author, or their favorite color...it wouldn't matter.

[2016-02-23 21:04] RobDay commented on #14
This isn't incredibly ideal, but what would you thoughts be around something like:

[code]

It doesn't do anything magically to pull the branch or any other repository information, but it allows the caller to append :some: custom information to the message.

[2016-02-24 00:28] kwoylie commented on #65
Hi,

We have the exact same issue as well. And I even tried to rollback fastlane to 1.53.0 cause it was giving me failed results on UI test. But we decided to remove UI test due to simulator time outs, and just use to run unit test. Even when I rolled back the fail unit test were ignored. But I still got the exit 65 error

[2016-02-24 08:16] kwoylie commented on #65
Okay after playing around with xcpretty and xcodebuild There's nothing wrong with scan or fastlane. The issue here is that you are using an assertionFailure. assertionFailure causes the test to crash which doesn't let xcodebuild to determine the output of the test as being failed. Since it doesn't print the failure status, xcpretty can't pick it up as failed.

So instead of using assertionFailure,

[2016-02-24 12:17] kcharwood commented on #65
I'm using `assertionFailure` as an example of a test exercising code that triggers an assertion.

xcodebuild is returning an exit code of 65, while scan returns zero. This is a scan issue.

[2016-02-24 12:59] lucatorella commented on #34
same issue here:
- xcode 7.2.1
- fastlane 1.63.0

[2016-02-24 13:03] lucatorella commented on #7
With Xcode 7.2.1 I still get:

[code]

My lane is just:

[code]

how did you fix this issue?

[2016-02-24 13:19] lucatorella opened #93 "Cannot run tests (iPhoneSimulator: Could not launch simulator: -600)"
scanfile:

[code]

Output:

[code]

I thought this was fixed in Xcode 7.2.1, as I read in other issues, but I'm still getting this error.

- Xcode 7.2.1
- fastlane 1.63.0
- scan 0.5.0

[2016-02-24 13:44] kcharwood commented on #65
I ran the my test today by only using xcpretty, and its returning a status code of zero. So perhaps that is part of the problem?

[2016-02-24 16:38] lam2558 commented on #7
I usually have xcode boot a specific simulator first, then when i run scan, i tell it to run that specific one that was booted up.

killall "Simulator"
xcrun instruments -t 'Blank' -l 1 -w "${name} (${OS})"
scan --clean "xxx" --configuration "Test" --device "${name} (${OS})" --scheme "xxx"

[2016-02-24 20:37] mfurtak commented on #13
Hi @KristopherGBaker - sorry to only be getting back to you now!

The code appears to have changed in the intervening time to only apply this formatter if we can detect that we are on Travis CI. Is this still an issue for you?

Thanks! :+1:

[2016-02-24 20:40] mfurtak commented on #15
Closing due to the proposed solution, and lack of activity - please continue the conversation if desired! :+1:

[2016-02-24 20:40] #15 closed

[2016-02-24 20:41] mfurtak commented on #28
Hi @vinnybad - I hope `scan` is still helping you out!

Is this still an issue for you? Have you learned anything else about mitigating it that can help others?

[2016-02-24 20:45] mfurtak commented on #41
Hi @lemonkey - sorry for the extended silence here.

Is this still an issue for you? Can you provide some specific configuration info and output logs that highlight what you're seeing that you'd like to see changed?

Thanks! :+1:

[2016-02-24 20:58] mfurtak commented on #55
Hi @mtitolo - it's been a while, but I just wanted to check, are you still having this problem?

[2016-02-24 21:11] mfurtak commented on #48
Hi @fatuhoku - I think this is not in the plans for the short term, so I am going to close this ticket.

Have you taken a look at [guard](https://github.com/guard/guard) or other tools specifically designed for this purpose? You may find them to be super helpful in your workflow for things even above and beyond `fastlane`! :rocket:

[2016-02-24 21:11] #48 closed

[2016-02-24 22:24] mfurtak commented on #53
Closing this issue due to the presented work-around. Folks can feel free to continue the discussion around designing more formalized support, though! :+1:

[2016-02-24 22:24] #53 closed

[2016-02-24 22:40] kwoylie commented on #65
Oh okay, I see. I would take a crack at playing around xcpretty and see if it pipes the exit status. Cause it might be an issue on xcpretty. Also, fastlane 1.63.0 is out

[2016-02-24 22:41] kcharwood commented on #65
I verified it was not an xcpretty issue. The exit status coming from the command generated by scan to build and test is returning 65.

[2016-02-24 23:17] KrauseFx commented on #65
Just tested this with my project and things work just as expected
<img width="507" alt="screenshot 2016-02-24 18 17 42" src="https://cloud.githubusercontent.com/assets/869950/13304496/eca2c638-db22-11e5-82c1-0a81808c0741.png">

[2016-02-24 23:21] KrauseFx commented on #65
Running your project returns 0, working on a fix now :+1:

[2016-02-24 23:23] kdawgwilk commented on #65
@KrauseFx Could you test on the following project  by @kcharwood to if it is a configuration issue? https://github.com/kcharwood/ScanFailingTest

I am still getting the same results

[2016-02-24 23:24] kdawgwilk commented on #65
Whoops looks like you were too fast for me 😉

[2016-02-24 23:24] KrauseFx commented on #65
[code]

So 0 failed tests, it seems like when the tests crash, the number of failures is printed out wrong

[2016-02-24 23:36] KrauseFx commented on #65
I just pushed https://github.com/fastlane/scan/pull/94, which will fix this issue. Thanks everyone for helping me with this :+1:

[2016-02-24 23:56] kcharwood commented on #65
I'm not sure that will resolve it either @KrauseFx. Its not that zero tests were executed. Its zero tests failed before the crash happened. I've seen that number be greater than zero (and the exit code is not zero from xcodebuild)

[2016-02-25 00:35] kdawgwilk commented on #65
I just looked at the fix and I am pretty sure @kcharwood is right.  @kcharwood maybe you could add some more tests to your example to show what we mean.

[2016-02-25 01:14] semireg commented on #36
+1

[2016-02-25 01:58] mfurtak commented on #65
I'm sorry to butt in after you've started working here, @KrauseFx - hopefully #95 is what folks are looking for?

[2016-02-25 03:55] micnguyen opened #96 "Scan hangs running test against target with missing linked files"
Hi,

I've been using scan for a bit and it's been working great.

I have recently added a new Target and a new test for that target (that is a duplicate of the 1st test but with the target app changed). When I do CMD+U in Xcode to run, it fails on the test because the new Target didn't have some files linked when you add a file (that checkbox that appears when adding new files to a project). That'

[2016-02-25 07:48] jcampbell05 opened #97 "Unable to find a destination matching the provided destination specifier"
When running scan, I get.
[code]

[2016-02-25 08:05] TamirTwina commented on #36
We're taking advantage that when _**scan/lib/scan/test_command_generator.rb**_ builds the
command to run the tests, it concatenates the the 'destination' parameter in the following manner
`options << "-destination '#{config[:destination]}'"`

Note that in the example below the single quotes ( ' ) do not match. That's on purpose
as we take into consideration that our string is going to be wrapped w

[2016-02-25 13:11] tspecht opened #98 "Segmentation fault: 11"
Hi guys,

I tried to use scan() today to run my tests but unfortunately they are failing with "Segmentation Fault: 11". I had xctool in use previously which is running the same test suite just fine :(

[code]

Any ideas on how to fix this?

[2016-02-25 18:51] mfurtak commented on #69
I'm going to close this issue since some answers have been provided. Please feel free to continue the discussion if desired! :+1:

[2016-02-25 18:51] #69 closed

[2016-02-25 20:11] vpolouchkine commented on #98
Can you please share the full log?

[2016-02-25 20:41] KrauseFx commented on #65
Thanks @mfurtak, your solution is much nicer :+1:

[2016-02-25 20:51] mfurtak commented on #98
Hi @tspecht - thanks for the report :+1:

Can you please provide some more information about your setup? It would be good to know your:
- Mac OS version
- Xcode version
- fastlane version
- scan version

Also, if you can provide the full command output when running with the `--verbose` flag, that would be :100:!

[2016-02-25 21:44] vpolouchkine commented on #93
Closing in favor of https://github.com/fastlane/scan/issues/34

[2016-02-25 21:44] #93 closed

[2016-02-25 22:08] mfurtak commented on #65
Hi folks - we've released [`scan` 0.5.1](https://github.com/fastlane/scan/releases/tag/0.5.1) :rocket: which should now fail if the test command it runs returns a non-zero exit code.

Please let us know how that looks regarding this issue! :+1:

[2016-02-25 22:09] kwoylie commented on #65
Awesome! Thanks!! 😊
On Fri, 26 Feb 2016 at 9:08 AM, Michael Furtak notifications@github.com
wrote:

[2016-02-26 02:12] hokster7 commented on #96
Same here. I've been slowly moving my codebase to using Carthage for dependency management and often rely on errors like the following to get my tests fixed:

[code]

[2016-02-26 02:25] fatuhoku opened #100 "scan doesn't play well with XLTestLog"
I don't know how the innards of XCTest works but I've been using the fantastic https://github.com/xareelee/XLTestLog project to help my XCTest outputs tonnes more readable.

Is there a way to incorporate xcpretty-style output into the Xcode console directly?

[2016-02-26 03:51] hokster7 commented on #97
I get this when running on Bitrise. How could I select a suitable test device in a robust way?

[2016-02-26 03:54] hokster7 commented on #17
I got the same issue. My Fastfile looks like:

[code]

And the test output looks like:

[code]

I think the flag `-destination 'platform=iOS Simulator,id=387BAC25-9B15-4687-A2EB-F4B7C06B1867'` doesn't look quite right — I have no idea why the id's been set. I guess failing to match that exact ID could be the problem?!

[2016-02-26 10:57] hokster7 commented on #100
I guess it's just how xcpretty works. Closing.

[2016-02-26 10:57] #100 closed

[2016-02-26 14:54] mfurtak commented on #96
Hi folks - if possible, can you please provide some more information about your setup? It would be good to know your:
- Mac OS version
- Xcode version
- fastlane version
- scan version

Also, if you can provide the full command output (until it hangs :frowning:) when running with the `--verbose` flag, that would be :100:!

[2016-02-26 15:27] ricardolpd opened #101 "scan not building a framework target tests scheme"
Hi,

Apologies if this has been discussed before, but i a workspace that contains quite a few framworks, all of which with a target for tests with no application.

When i run scan

xcodebuild: error: The scheme 'FooTests' is not configured for Running.
[15:24:22]: ▸ The scheme 'FooTests' has nothing configured to build for Running and has no executable specified to Run. Edit the scheme to configur

[2016-02-26 17:49] ricardolpd commented on #101
Apologies found the issue.... it seems that pointing at the actual framework target solves this issue.
Can we please close it.

[2016-02-26 18:36] #101 closed

[2016-02-26 18:47] vpolouchkine commented on #97
Looks like this is a dupe of https://github.com/fastlane/scan/issues/17

[2016-02-26 19:00] jcampbell05 commented on #17
I have this issue too, wasn't sure how to specify specific version.

[2016-02-26 19:17] mpirri commented on #17
We are working on a fix for this now, hopefully will be ready soon.  Thanks for your patience, y'all!

[2016-02-26 19:52] mfurtak commented on #13
I'll close this issue for now, but please continue the conversation as needed!

[2016-02-26 19:52] #13 closed

[2016-02-26 19:53] mfurtak commented on #28
I'll close this issue for now, but please continue the conversation as needed!

[2016-02-26 19:53] #28 closed

[2016-02-26 19:54] mfurtak commented on #41
I'll close this issue for now, but please continue the conversation, and we can reopen as needed!

[2016-02-26 19:54] #41 closed

[2016-02-26 19:55] mfurtak commented on #55
I'll close this issue for now, but please continue the conversation as needed!

[2016-02-26 19:55] #55 closed

[2016-02-26 20:01] vinnybad commented on #28
Hello, I wasn't able to resolve this issue using scan. I ended up usin a different tool for the CI. Perhaps scan wasn't able to handle parallel builds or something

[2016-02-26 20:27] hokster7 commented on #17
@mpirri :beers:

[2016-02-29 13:27] sofacoder commented on #49
I had the same problem when my scheme is containing (activated for testing) a test target that is empty (no test classes at all).

And by the way, the Xcode CI has the same problem as well.

[2016-02-29 22:17] kcharwood commented on #65
Thanks everyone. I think this can be closed out now :beers:

[2016-02-29 22:31] mfurtak commented on #65
Thanks for the help, everyone! That example project was super helpful @kcharwood :100:

[2016-02-29 22:31] #65 closed

[2016-03-01 14:50] tspecht opened #102 "Exit status: 65"
Hi guys,

I'm still trying to run scan and, all of a sudden, the Segmentation Fault 11 magically disappeared. Instead now I'm having a different issue:

[code]

[code]

In Xcode I can run the tests just fine including code coverage being generated. Any hints?

[2016-03-02 07:54] jcampbell05 commented on #17
@mpirri  :) do you know how long until you have a fix :) ?

[2016-03-02 16:16] mpirri commented on #17
Just merged the fix about an hour ago. We'll ship it out soon.

[2016-03-02 23:24] daniel-beard commented on #74
@tiagomartinho OCLint now recommends the use of xcpretty (see: http://docs.oclint.org/en/stable/manual/oclint-xcodebuild.html)

@KrauseFx if there was support for passing additional arguments to xcpretty, like similar to this option:

[code]

then integration with OCLint would be simple.

[2016-03-02 23:24] daniel-beard commented on #74
This is simple enough that I'd like to have a go at implementing.

[2016-03-03 18:36] mpirri commented on #17
So, we've shipped this fix today as part of `scan 0.5.2`.  Let us know what you think.  I'm optimistic you'll like it, so I'm closing this issue -- feel free to open a new issue if you are still having difficulty. :rocket:

[2016-03-03 18:36] #17 closed

[2016-03-03 18:38] mpirri commented on #40
We shipped `scan 0.5.2` earlier today that should have the fix for this issue. I am going to close this issue because I believe it is fixed - please open another issue if you are still having difficulty! :rocket:

[2016-03-03 18:38] #40 closed

[2016-03-03 18:40] mpirri commented on #85
@steprescott Can you check the latest version, `scan 0.5.2` and tell us if this is still an issue? We have fixed the simulator selection logic in that version, and we are optimistic that it will resolve issues like yours. Thanks!

[2016-03-03 18:45] mpirri commented on #85
Actually, re-reading your request, I might be off on my comment, ha.  Question: what is the deployment target set to for your test's Host Application? Our change ensures that we don't accidentally pick a simulator that doesn't match your deployment target.

Considering that `scan` is using `xcodebuild ... test` to run the tests (and thus, doing the same as what Xcode is doing), I'm somewhat surpri

[2016-03-04 08:47] manurobledo commented on #17
I still get this issue with `scan 0.5.2`

[code]

[2016-03-04 08:49] jschmid commented on #17
It worked for me.

Edit: [here is the working build](https://travis-ci.org/jschmid/tests-ci/builds/113606667), compared to the old ones I showed here: https://github.com/fastlane/scan/issues/17#issuecomment-165810425

[2016-03-04 12:34] steprescott commented on #85
So my deploy target is 8.0 but there are tests that are for iOS 9 features. I will do an update of scan and see if it works at some point. Thanks

[2016-03-04 15:25] mpirri commented on #85
Interesting.  So, I'd guess this change won't fix anything for you. I'm still somewhat surprised that `scan` is behaving differently than Xcode is. I will look into this further and see if I can understand why this might be happening.

Incidentally, are you able to reproduce the same behavior as `scan` by running `xcodebuild` from the command line?

Specifically, you can try (this example is from

[2016-03-07 20:07] fastlane-bot-helper commented on #102
This issue was migrated to https://github.com/fastlane/fastlane/issues/1926. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:07] #102 closed

[2016-03-07 20:07] fastlane-bot-helper commented on #98
This issue was migrated to https://github.com/fastlane/fastlane/issues/1927. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:07] #98 closed

[2016-03-07 20:07] fastlane-bot-helper commented on #97
This issue was migrated to https://github.com/fastlane/fastlane/issues/1928. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:07] #97 closed

[2016-03-07 20:08] fastlane-bot-helper commented on #96
This issue was migrated to https://github.com/fastlane/fastlane/issues/1929. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:08] #96 closed

[2016-03-07 20:08] fastlane-bot-helper commented on #91
This issue was migrated to https://github.com/fastlane/fastlane/issues/1930. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:08] #91 closed

[2016-03-07 20:08] fastlane-bot-helper commented on #90
This issue was migrated to https://github.com/fastlane/fastlane/issues/1931. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:08] #90 closed

[2016-03-07 20:08] fastlane-bot-helper commented on #87
This issue was migrated to https://github.com/fastlane/fastlane/issues/1932. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:08] #87 closed

[2016-03-07 20:08] fastlane-bot-helper commented on #85
This issue was migrated to https://github.com/fastlane/fastlane/issues/1933. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:08] #85 closed

[2016-03-07 20:09] fastlane-bot-helper commented on #74
This issue was migrated to https://github.com/fastlane/fastlane/issues/1934. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:09] #74 closed

[2016-03-07 20:09] fastlane-bot-helper commented on #72
This issue was migrated to https://github.com/fastlane/fastlane/issues/1935. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:09] #72 closed

[2016-03-07 20:09] fastlane-bot-helper commented on #67
This issue was migrated to https://github.com/fastlane/fastlane/issues/1936. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:09] #67 closed

[2016-03-07 20:09] fastlane-bot-helper commented on #57
This issue was migrated to https://github.com/fastlane/fastlane/issues/1937. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:09] #57 closed

[2016-03-07 20:10] fastlane-bot-helper commented on #52
This issue was migrated to https://github.com/fastlane/fastlane/issues/1938. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:10] #52 closed

[2016-03-07 20:10] fastlane-bot-helper commented on #49
This issue was migrated to https://github.com/fastlane/fastlane/issues/1939. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:10] #49 closed

[2016-03-07 20:10] fastlane-bot-helper commented on #47
This issue was migrated to https://github.com/fastlane/fastlane/issues/1940. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:10] #47 closed

[2016-03-07 20:10] fastlane-bot-helper commented on #34
This issue was migrated to https://github.com/fastlane/fastlane/issues/1941. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:10] #34 closed

[2016-03-07 20:10] fastlane-bot-helper commented on #27
This issue was migrated to https://github.com/fastlane/fastlane/issues/1942. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:11] #27 closed

[2016-03-07 20:11] fastlane-bot-helper commented on #26
This issue was migrated to https://github.com/fastlane/fastlane/issues/1943. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:11] #26 closed

[2016-03-07 20:11] fastlane-bot-helper commented on #14
This issue was migrated to https://github.com/fastlane/fastlane/issues/1945. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:11] #14 closed

[2016-03-07 20:11] fastlane-bot-helper commented on #10
This issue was migrated to https://github.com/fastlane/fastlane/issues/1946. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:11] #10 closed